<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lesson3_ChallengeApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5277A5BF1FD0BA1F0025A89C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5277A5D61FD0BA1F0025A89C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5277A5E11FD0BA200025A89C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
